.portfolio-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 5rem;
  margin: auto;
  flex: 1;
  box-sizing: border-box; }

.header-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  width: 60vw;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.collection-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  width: 60vw;
  margin: 0 auto;
  padding: 1rem; }

.collection-item {
  width: 200px;
  height: 200px;
  border: 3px solid blue;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 2em;
  margin: 1em auto;
  padding: 1em;
  text-align: center; }
