.collection-item {
  width: 350px;
  height: auto;
  margin: 1em auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-align: center;
  box-sizing: border-box; }
  .collection-item:hover .item-name {
    opacity: 1; }
  .collection-item a {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none; }
    .collection-item a .item-name {
      position: absolute;
      opacity: 0;
      transition: opacity 0.25s ease-in 0.1s; }
  .collection-item .item-image {
    object-fit: fill;
    width: 100%;
    height: auto;
    overflow: hidden; }
    .collection-item .item-image:hover {
      transition: opacity 0.25s ease-in;
      opacity: 0.3;
      cursor: pointer; }
