.collection-item {
  width: 45%;
  height: auto;
  margin: 1em auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-align: center;
  box-sizing: border-box;
  // border: 3px solid blue;
  &:hover {
    .item-name {
      opacity: 1;
    }
  }

  & a {
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    & .item-name {
      position: absolute;
      opacity: 0;
      transition: opacity 0.25s ease-in 0.1s;
      //   color: white;
    }
  }

  & .item-image {
    object-fit: fill;
    width: 100%;
    height: auto;
    overflow: hidden;
    &:hover {
      transition: opacity 0.25s ease-in;
      opacity: 0.3;
      cursor: pointer;
    }
  }
}

@media all and (max-width: 850px) {
  .collection-item {
    margin: 1rem;
    padding: 0;
    width: 80%;
    height: auto;
    flex-grow: 1;
    flex-basis: auto;
  }
}
@media all and (max-width: 550px) {
  .collection-item {
    width: 100%;
  }
}
