.about-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 2rem;
  margin: 0 auto;
  min-height: 30vh;
  width: 65vw;
  // border: 1px solid red;
}

.about-container {
  width: 70%;
  // border: 1px solid green;
  & .about-text {
    margin: 0.5rem auto;
    padding: 0 1rem;
    white-space: pre-line;
    // border: 1px solid blue;
    & p {
      font-size: 1.7em;
      font-family: "Lato", sans-serif;
      font-weight: 300;
    }
    & :first-child {
      margin-top: 1em;
    }
  }
}

.about-header {
  margin: 1rem auto;
  padding: 0 1rem;
}

.contact-container {
  width: 25%;
  // border: 1px solid blue;
  & .links-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2em;
    // border: 1px solid purple;
    & .link-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 1rem 0;
      padding: 0 1rem;
      text-decoration: none;
      color: inherit;
      &:hover {
        color: gray;
      }
      & .link-name {
        margin-left: 1.5rem;
      }
    }
  }
}

@media all and (max-width: 850px) {
  .about-wrapper {
    width: 85vw;
  }
}

/* Converts about section from row to column */
@media all and (max-width: 660px) {
  .about-wrapper {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-container {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .contact-container {
    width: 100%;
    .about-header {
      padding-top: 1rem;
    }
    .links-container {
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;
    }
  }

  .about-header {
    text-align: center;
  }
}

@media all and (max-width: 550px) {
  .about-wrapper {
    width: 90vw;
    padding: 1rem 0;
  }
}

@media all and (max-width: 350px) {
  .contact-container .links-container {
    flex-direction: column;
  }
}
