.about-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 2rem;
  margin: 0 auto;
  min-height: 30vh;
  width: 65vw; }

.about-container {
  width: 70%; }
  .about-container .about-text {
    margin: 0.5rem auto;
    padding: 0 1rem;
    white-space: pre-line; }
    .about-container .about-text p {
      font-size: 1.7em;
      font-family: "Lato", sans-serif;
      font-weight: 300; }
    .about-container .about-text :first-child {
      margin-top: 1em; }

.about-header {
  margin: 1rem auto;
  padding: 0 1rem; }

.contact-container {
  width: 25%; }
  .contact-container .links-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2em; }
    .contact-container .links-container .link-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 1rem 0;
      padding: 0 1rem;
      text-decoration: none;
      color: inherit; }
      .contact-container .links-container .link-item:hover {
        color: gray; }
      .contact-container .links-container .link-item .link-name {
        margin-left: 1.5rem; }

@media all and (max-width: 850px) {
  .about-wrapper {
    width: 85vw; } }

@media all and (max-width: 660px) {
  .about-wrapper {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; }
  .about-container {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .contact-container {
    width: 100%; }
    .contact-container .about-header {
      padding-top: 1rem; }
    .contact-container .links-container {
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center; }
  .about-header {
    text-align: center; } }

@media all and (max-width: 550px) {
  .about-wrapper {
    width: 100%;
    padding: 1rem 0; } }
