.home-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 90%;
  // border: 1px solid green;
  padding: 0 1rem;
  margin: auto;
}

.profile-container {
  // border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
}

.profile-img-wrapper {
  text-align: center;
  font-size: 5rem;
  margin: auto;
  & img {
    border-radius: 50%;
    width: 15vw;
    height: auto;
  }
}

.greeting-wrapper {
  margin: auto;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 2em;
}
