.home-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 5rem;
  margin: auto;
  // border: 3px solid green;
  flex: 1;
  box-sizing: border-box;
}

.header-container {
  // border: 2px solid red;
  // background-color: slateblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  width: 60vw;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-img-wrapper {
  text-align: center;
  font-size: 5rem;
  margin: 0 auto;
  & img {
    border-radius: 50%;
    width: 15vw;
    height: auto;
  }
}

.greeting-wrapper {
  margin: 0 auto;
}
