.navbar-wrapper {  
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 90vw;
  padding: 0;
  margin: 1.5rem auto;
  & a {
    color: black;
    text-decoration: none;
    &:hover {
      color: gray;
      &.active {
        border-bottom-color: gray;
      }
    }

    //React-Router Styling
    &.active {
      font-weight: bold;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid black;
    }
  }
  & ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    & li {
      padding: 0 1.5em;
      margin: 0;
      list-style: none;
      &:last-child a {
        color: gray;
        &:hover {
          color: black;
        }
      }
    }
  }
}
