.navbar-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  flex-shrink: 0; }

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  width: 90vw;
  padding: 0;
  margin: 1.5rem auto; }
  .navbar-container a {
    color: black;
    text-decoration: none;
    /* React-Router Styling - Do Not Remove */ }
    .navbar-container a:hover {
      color: gray; }
      .navbar-container a:hover.active {
        border-bottom-color: gray; }
    .navbar-container a.active {
      font-weight: bold;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid black; }
  .navbar-container .navbar-links-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0; }
    .navbar-container .navbar-links-container li {
      padding: 0 1.5em;
      margin: 0;
      list-style: none; }
      .navbar-container .navbar-links-container li:last-child {
        padding-right: 0; }
        .navbar-container .navbar-links-container li:last-child a {
          color: gray;
          padding-right: 0; }
          .navbar-container .navbar-links-container li:last-child a:hover {
            color: black; }

@media all and (max-width: 550px) {
  .navbar-container {
    margin: 1.5rem auto; }
    .navbar-container .navbar-links-container li {
      padding: 0 1em; } }

@media all and (max-width: 425px) {
  .navbar-container {
    margin: 0.3rem auto; } }
