.footer-wrapper {
  display: flex;
  width: 100vw;
  justify-content: center;
  border-top: 1px solid lightgrey; }

.footer-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  width: 90vw; }

.icons-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem; }
  .icons-container a {
    text-decoration: none;
    color: inherit; }
    .icons-container a :hover {
      font-size: 2rem; }
  .icons-container svg {
    padding: 0 1rem; }
