@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
html {
  height: 100%;
  font-size: 10px;
  box-sizing: border-box; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Raleway", sans-serif; }

*,
*::before,
*::after {
  box-sizing: inherit; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

p {
  font-size: 1rem; }
